@page
@model Bloggie.Web.Pages.Admin.BlogPosts.AddModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-2">
    <div class="container">
        <h1>Add Blog Post</h1>
    </div>
</div>

<div>
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label for="heading" class="form-label">Heading</label>
                <input type="text" class="form-control" id="heading" asp-for="AddBlogPost.Heading">
                <span class="text-danger" asp-validation-for="AddBlogPost.Heading"></span>
            </div>
            <div class="mb-3">
                <label for="pageTitle" class="form-label">Page Title</label>
                <input type="text" class="form-control" id="pageTitle" asp-for="AddBlogPost.PageTitle">
                <span class="text-danger" asp-validation-for="AddBlogPost.PageTitle"></span>

            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" asp-for="AddBlogPost.Content"></textarea>
                <span class="text-danger" asp-validation-for="AddBlogPost.Content"></span>

            </div>
            <div class="mb-3">
                <label for="shortDescription" class="form-label">Short Description</label>
                <input type="text" class="form-control" id="shortDescription" asp-for="AddBlogPost.ShortDescription">
                <span class="text-danger" asp-validation-for="AddBlogPost.ShortDescription"></span>

            </div>
            <div class="mb-3">
                <label for="featuredImageUpload" class="form-label">Featured Image Upload</label>
                <input type="file" id="featuredImageUpload" asp-for="FeaturedImage" />
                <img id="featuredImage" src="" class="img-thumbnail" alt="" style="display: block; max-width: 300px; height: auto;">
            </div>
            <div class="mb-3">
                <label for="featuredImageUrl" class="form-label">Featured Image Url</label>
                <input type="text" class="form-control" id="featuredImageUrl" asp-for="AddBlogPost.FeaturedImageUrl" readonly>
            </div>
            <div class="mb-3">
                <label for="urlHandle" class="form-label">Url Handle</label>
                <input type="text" class="form-control" id="urlHandle" asp-for="AddBlogPost.UrlHandle">
            </div>
            <div class="mb-3">
                <label for="publishedDate" class="form-label">Published Date</label>
                <input type="date" class="form-control" id="publishedDate" asp-for="AddBlogPost.PublishedDate">
                <span class="text-danger" asp-validation-for="AddBlogPost.PublishedDate"></span>

            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" asp-for="AddBlogPost.Author">
                <span class="text-danger" asp-validation-for="AddBlogPost.Author"></span>
            </div>
            <div class="mb-3">
                <label for="tags" class="form-label">Tags (comma seperated)</label>
                <input type="text" class="form-control" id="tags" asp-for="Tags" required/>
            </div>
            <div class="form-check mb-3">
                <label for="isVisible" class="form-label">Is Visible</label>
                <input type="checkbox" class="form-check-input" id="isVisible" asp-for="AddBlogPost.Visible">
                <span class="text-danger" asp-validation-for="AddBlogPost.Visible"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var editor = new FroalaEditor('#content', {
            imageUploadURL: '/api/images'
        });
        const featuredImageUploadElement = document.querySelector('#featuredImageUpload');
        featuredImageUploadElement.addEventListener('change', async (e) => {
            //console.log(e.target.files[0]);
            let data = new FormData();
            data.append('file', e.target.files[0]);
            await fetch('http://localhost:5281/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*'
                },
                body: data
            })
                .then(response => response.json())
                .then(result => {
                    const featuredImageUrlElement = document.querySelector('#featuredImageUrl');
                    const featuredImageUploadElement = document.querySelector('#featuredImage');
                    featuredImageUrlElement.value = result.link;
                    featuredImageUploadElement.src = result.link;
                });
        })

    </script>
}