@page
@model Bloggie.Web.Pages.Admin.Users.IndexModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Users</h1>
    </div>
</div>

<div>
    <div class="container">
        <partial name="_Notification" />
        <div class="d-flex justify-content-end">
            <button type="button" data-bs-toggle="modal" data-bs-target="#addUserModal" class="btn btn-dark">Add</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add new user</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-2">
                                <label class="form-label fw-bold">Email</label>
                                <input class="form-control" type="text" asp-for="UserViewModel.Email" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label fw-bold">Username</label>
                                <input class="form-control" type="text" asp-for="UserViewModel.UserName" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label fw-bold">Password</label>
                                <input class="form-control" type="password" asp-for="UserViewModel.Password" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label d-block fw-bold">Select roles</label>
                                <div class="mb-1">
                                    <input class="form-check-inline" type="checkbox" value="User" name="UserViewModel.Roles" />
                                    <label class="form-check-label">User</label>
                                </div>
                                <div class="mb-1">
                                    <input class="form-check-inline" type="checkbox" value="Admin" name="UserViewModel.Roles" />
                                    <label class="form-check-label">Admin</label>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark">Add</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>